.popup__input {
    border: 0;
    margin: 0;
    width: 358px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    display: block;
    margin-left: 36px;
    margin-bottom: 32px;
    padding-bottom: 6px;
}



@media screen and (max-width:767px) {
    .popup__input {
        margin-left: 22px;
        width: 238px;
        padding-bottom: 7px;
    }
}