.popup__input {
    border: 0;
    width: 358px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    display: block;
    margin: 54px 0 0 36px;
    width: 358px;
    padding-bottom: 13px;
}

@media screen and (max-width:767px) {
    .popup__input {
        width: 238px;
        margin: 75px 0 0 22px;
    }
}