.profile {
    display: flex;
    max-width: 880px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 40px;
}

@media screen and (max-width: 900px) {
    .profile {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        padding-top: 42px;
        padding-bottom: 36px;
        justify-content: center;
    }
}