.profile__edit-btn {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background: #000;
    background-image: url("../../../images/pen.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .profile__edit-btn {
        margin-top: 1px;
        width: 18px;
        height: 18px;
    }
}