.profile__info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 18px;
    row-gap: 16px;
    align-items: baseline;
}

@media screen and (max-width: 767px) {
    .profile__info {

        margin-top: 26px;
        margin-bottom: 33px;
        column-gap: 10px;
        row-gap: 7px;
    }
}