.element__heart-btn {
    width: 22px;
    height: 19px;
    background: #fff;
    background-image: url("../../../images/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
    padding: 0;
    margin-right: 21px;
    cursor: pointer;
}

.element__heart-btn:hover {
    opacity: 0.5;
}